@import url('../blocks/card/card.css');
@import url('../blocks/info/info.css');
@import url('../blocks/controls/controls.css');
@import url('./icomon.css');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;700&display=swap');

body {
  font-family: 'Golos Text', sans-serif;
  margin: 0;
  background-color: #F5F5F5;
  color: #0D0D0D;
}